
/* Seal message and animations */

.seal-msg{
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    font-family:'UnifrakturMaguntia', cursive;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.966);
    margin-bottom: 20px;

    animation: MagicAppearWelcome 2s ease-in-out forwards;

}
.seal{
    border-color: transparent;
    background-color: transparent;
    background-image: url(Seal.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 100;
    border: none;
    outline: none;
    background-origin: content-box;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    animation: MagicPulse 3s infinite ease-in-out;
}
.seal:focus {
    outline: none;
    border: none;
}
.seal:hover{
    transition: filter 0.3s ease;
    filter: drop-shadow(0 0 8px rgb(255, 187, 0));
}
.logout{
    display: none;
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    font-family:'UnifrakturMaguntia', cursive;
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.966);
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    animation: MagicAppearLogout 3s ease-in-out forwards;

}

/* Html Structure */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 100% auto;
    
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url('rugged-paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    

    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 16px;
}

.body-transition{
    background-image: url('stone-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: TransitionBtn 1s ease-in-out forwards;
}

/* Form Structure*/

.btn{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 22px;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 10px rgba(234, 210, 158, 1);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    padding: 15px 20px;
    border-color: rgba(255, 255, 255, 0.5);
}

.form-register legend{
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 0.5px 0.5px white;
    color: black;
    border-radius: 50%;
    border-color: rgba(177, 171, 171, 0.6);
    border-style: outset;  
    border-width: 0.06cm;
    font-weight: bold; 
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 28px;
}

.form-register label{
    text-shadow: 0.5px 0.5px white;
    font-weight: bold;
    font-size: 25px;
}

.form-register input{
    vertical-align: 0 auto;
    border-radius: 5px;
    background-color: rgba(177, 171, 171, 0.3);
    border-style: inset;
    border-color: rgba(177, 171, 171, 0.4);
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    padding: 12px 15px;
}

.form-register fieldset{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;

    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 650px;
    padding: 50px 50px;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border-style: groove;
    border-color: rgba(177, 171, 171, 0.6);

}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Task Board and missions */

.Mural{
    background-image: url('wooden-board.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 800px;
    padding: 80px 80px;
    min-width: none;
    filter: blur(5);
    animation: TransitionBtn 1s ease-in-out forwards;
}

h3{
    background-image: url('Plank.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    font-weight: bold;
    width: fit-content;
    margin: 0 auto 30px auto;

    padding: 20px 60px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.7));

    font-size: 30px;
    text-align: center;
    
    color: #241107;
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(255, 255, 255, 0.397);


}

/*Mission Zone*/

#mission-zone{
    max-height: 350px;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    padding-right: 30px;



}

#mission-zone::-webkit-scrollbar{
    width: 25px;
}

#mission-zone::-webkit-scrollbar-track{
    background-color: rgba(65, 28, 9, 0.4);
    background-image: linear-gradient(rgba(65, 28, 9, 0.85), rgba(65, 28, 9, 0.85)), url(chain.png);
    background-color: opacity(0.5);
    background-size: 100% auto;
    border-radius: 10px;
    border-color: #30190c;

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

#mission-zone::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('chain.png');
    width: fit-content;

    background-size: 100% auto;
    background-repeat: repeat-y;
    border-radius: 10px;
    border: 1px  rgba(65, 28, 9, 0.8);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

#mission-zone::-webkit-scrollbar-thumb:hover{
    filter: brightness(1.2);
}

.del-btn{
    border-color: transparent;
    background-color: transparent;
    background-image: url(Fire.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-position: center;
    image-rendering: pixelated;

}
.del-btn:hover{
    animation: Fire 2s infinite ease-in-out ;
}

.mission-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

}

.Missions{
    position: relative;
    font-family: "Petit Formal Script", cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin: 0;
    width: 95%;

    color: #000000;
    -webkit-text-stroke: 0.000001px #ffffff;
    text-shadow: 0px 1px 10px rgb(0, 219, 201);
    cursor: pointer;
    --x: 50%;
    --y: 50%;
}
.Missions::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;

    color: #000000;
    -webkit-text-stroke: 0.000001px #ffffff;
    text-shadow: 0px 1px 10px rgb(153, 207, 2);

    clip-path: circle(40px at var(--x) var(--y));
    transition: clip-path 0.1s ease-out;
}
.Missions:not(:hover)::before{
    clip-path: circle(0px at var(--x) var(--y));
}
.mission-acquired{
    background-image: url('Plank.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    font-weight: bold;
    width: fit-content;
    margin: 0 auto 30px auto;

    padding: 20px 60px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.7));

    font-size: 30px;
    text-align: center;
    text-decoration: line-through;

    color: #241107;
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(255, 255, 255, 0.397);

    animation: Acquired 1s ease-in-out forwards;

}

.revert-acquired{
    animation: RevertAcquired 1s ease forwards !important;
}

/*Add Mission*/

.newmission{
    min-height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newmission:hover fieldset{
    cursor: pointer;
    transition: 1.5s ease-out;
    background-color: rgba(133, 96, 61, 0.1);
}
.newmission fieldset{
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 650px;
    padding: 30px 30px;

    border: 2px solid #30190c;

    background-image: url(chain.png), url(chain.png);

    background-position: left center, right center;

    background-repeat: repeat-y, repeat-y;

    background-size: 20px auto, 20px auto;

    padding: 30px 50px;

}
.newmission button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newmission legend {
    background-image: url('Plank.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    font-weight: bold;
    width: fit-content;
    margin: 0 auto 30px auto;

    padding: 20px 60px;
    filter: contrast(95%) drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.7));

    font-size: 30px;
    text-align: center;
    
    color: rgb(36, 17, 7);
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(255, 255, 255, 0.397);
}

.newmission input {
    border-color: transparent;
    background-color: transparent;
    background-image: url('Plank.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 20px 15px;

    border-color: transparent;
    border: none;

    filter: contrast(95%)  drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.7));

    font-weight: bold;
    width: fit-content;
    margin: 0 auto 30px auto;

    color: #b9b9b9;
    font-size: 18px;
    font-family: "Petit Formal Script", cursive;
}

/* Messages for sucess and error in the forms */

.success-msg{
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.966);
    text-shadow: 2px 2px 10px rgb(2, 99, 2), 0 0 1em green, 0 0 0.5em green;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.error-msg{
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.966);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    animation: TransitionError 1s ease-in-out forwards;
}
.error-msg:hover{
    transition: 2s
}
.vanish{
    display: none;
}

/* Magic (submit) button */
.magic-button{
    background-color: rgba(10, 255, 150, 0.05);
    border-color: transparent;
    box-shadow: 0px 0px 15px rgba(10, 255, 150, 0.25);
    animation: TransitionBtn 1s ease-in-out forwards;
}
.magic-button:hover{
    transition: 2s;
    background-color: rgba(88, 90, 84, 0.5);
    border-style: groove;
    box-shadow: 0px 0px 15px rgba(10, 255, 150, 1);
    text-shadow: 0px 0px 5px rgba(90, 235, 6, 1);
}

/* Goblin (reset) button */
.goblin-button{
    background-color: rgba(88, 90, 84, 0.35);
    border-style: solid;
    box-shadow: 0px 0px 15px rgba(88, 90, 84, 0.5);
    animation: TransitionBtn 1.5s ease-in-out forwards;
}
.goblin-button:hover{
    transition: 2s;
    background-color: rgba(88, 90, 84, 0.5);
    border-style: groove;
    box-shadow: 0px 0px 15px rgb(117, 2, 1);
    text-shadow: 0px 0px 5px rgba(231, 6, 6, 1);
}

/*---ANIMATIONS---*/

@keyframes Fire{
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.1);
    }

    50%{
        transform: scale(1.2);
    }

    75%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes MagicPulse{
    0%{
        filter: drop-shadow(0 0 5px rgba(255, 187, 0, 0.3));
        transform: translate(-50%, -50%) scale(1);
    }
    50%{
        filter: drop-shadow(0 0 25px rgba(255, 187, 0, 1));
        transform: translate(-50%, -50%) scale(1.03);
    }
    100%{
        filter: drop-shadow(0 0 5px rgba(255, 187, 0, 0.3));
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes RevertAcquired{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes Acquired{
    0%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(0.8);
    }
}

@keyframes MagicAppearWelcome{
    0%{
        opacity: 0;
        filter: blur(5px) drop-shadow(0 0 5px rgba(255, 215, 0, 0.5));
    }
    100%{
        opacity: 1;
        filter: blur(0px) drop-shadow(0 0 5px rgba(255, 215, 0, 0.9));

    }

}

@keyframes MagicAppearLogout{
    0%{
        opacity: 0;
        filter: blur(5px) drop-shadow( 0 0 5px rgba(255, 0, 0, 0.5));
    }
    100%{
        opacity: 1;        
        filter: blur(0px) drop-shadow( 0 0 5px rgba(255, 0, 0, 0.9));
    }

}

@keyframes TransitionBtn{
    0%{
        opacity: 0;
        filter: blur(5px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes TransitionError{
    0%{
        opacity: 0;
        filter: blur(5px) drop-shadow(0 0 5px rgba(99, 2, 2, 0.5));
    }
    100%{
        opacity: 1;
        filter: blur(0px) drop-shadow(0 0 5px rgba(99, 2, 2, 1));
    }
}